.error-404 {
  padding-right: 9em;
  padding-top: 3.5em;

  p {
    font-family: $font__main;
  }
  button {
    display: none;
  }
  ul {
    font-family: $font__main;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      a {
        color: $color__green-brand;
        text-decoration: none;
      }
    }
  }
}
