footer {
  background: url(../../images/photos/dark-wood.png);
  height: 350px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container {
  font-family: $font__header;

  text-align: center;
  text-transform: uppercase;

  color: $color__background;
}
.contact-info {
  padding: 1.9rem;
  color: $color__background;
  font-size: 18px;

  h3 {
    color: $color__orange-brand;
    text-transform: uppercase;
  }
  p {
    font-family: $font__main;
  }
  a {
    text-decoration: none;
    color: $color__background;
    &:hover {
      color: $color__orange-brand;
    }
  }
}
.business-hours {
  font-size: 18px;
  color: $color__background;
  margin-left: 5%;
  h3 {
    color: $color__orange-brand;
    text-transform: uppercase;
  }
  p {
    font-family: $font__main;
  }
}
.text-logo {
  width: 20%;
  margin-left: 20%;
  margin-bottom: 9%;
}
