.fp-banner-img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4)),
    #969696 url(../../images/home-hero.jpg) no-repeat top;
}
.fp-banner {
  position: relative;
  margin-bottom: 5rem;
}
.fp-banner-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-info {
  h2 {
    margin-bottom: 5rem;
  }
}

.product-type-blocks {
  display: flex;
  justify-content: space-between;
  align-content: center;

  .product-type-block-wrapper {
    width: 17%;

    border: 1px solid gray;
    border-top-width: 6px;
    margin: 0 0.5rem;
    text-align: center;
  }
  img {
    width: 25%;
  }
}
.inhabitent-journal {
  display: flex;
  flex-direction: row;
}
