.fp-banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4)),
    #969696 url(../../images/home-hero.jpg) no-repeat top;
}

.fp-banner {
  position: relative;
  margin-bottom: 3rem;
}
.fp-banner-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-info {
  margin-bottom: 5rem;
  h2 {
    color: black;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.8rem;
    font-family: Novecento Sans Web, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.product-type-blocks {
  display: flex;
  justify-content: space-between;

  a:hover {
    background-color: #19625d;
  }
  .product-type-block-wrapper {
    border: 1px solid #e1e1e1;
    border-top-width: 6px;
    margin: 0 1rem;
    text-align: center;
    flex: 0 1 23%;
    max-width: 23%;
    padding: 0.3rem;
    &:hover {
      border: 1px solid #d99045;
      border-top-width: 6px;
    }
  }
  p {
    color: #404040;
    font-family: Merriweather Web, serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
    text-transform: none;
  }
  img {
    width: 40%;
  }
  a {
    text-decoration: none;
    background-color: #248a83;
    padding: 1rem;
    color: white;
    font-family: Novecento Sans Web, sans-serif;

    padding: 0.8rem 1.5rem;
  }
  .btn {
    text-transform: uppercase;
  }
}
.inhabitent-journal {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
  }
  .journal-info-section {
    padding-left: 20px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    color: #000;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.8rem;
    font-family: Novecento Sans Web, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
}
.journal-front {
  min-width: 33%;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  border: 1px solid #e1e1e1;
  height: 25em;
  position: relative;

  img {
    left: 50%;
    max-height: 250px;
    min-width: 100%;
  }
  a {
    text-decoration: none;
  }
}
.journal-date {
  color: #404040;
  text-transform: none;
  font-size: 13px;
  padding-top: 20px;
}
.journal-info-section {
  .title {
    color: #248a83;
    font-size: 18px;
    font-weight: 900;
  }
  .read-entry {
    border: 1px solid black;
    color: black;
    width: 8em;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    bottom: 13px;
    position: absolute;
  }
}

.latest-adventure {
  .canoe-girl {
    background-image: url('../../images/photos/canoe-girl.jpg');
    height: 300px;
    width: 200px;
  }
  .beach-bonfire {
    background-image: url('../../images/photos/beach-bonfire.jpg');
    height: 300px;
    width: 200px;
  }
}
