.blog {
  .entry-header {
    position: relative;
  }
  .site-content {
    padding-top: 10rem;
  }
  .entry-title {
    position: absolute;
    top: 20px;
    left: 10px;
    a {
      text-decoration: none;
      background-color: #248a83;
      color: #fff;

      font-size: 2.1rem;
      left: 0;
      // padding: ;
      position: absolute;
      margin-top: 2.25rem;
    }
  }

  .entry-meta {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
  }
}
