.admin-bar {
  h3 {
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    font-family: Novecento Sans Web, sans-serif;
  }

  label {
    font-family: Novecento Sans Web, sans-serif;

    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
}
