.contact-side {
  i {
    padding-right: 10px;
  }
  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $color__orange-brand;
    }
  }
  .a-info {
    color: $color__green-brand;
  }
}
.sidebar-section {
  border-left: 1px solid #e1e1e1;
  min-width: 30%;
  padding-top: 3em;
  padding-left: 3em;
}
.widget-title {
  text-transform: uppercase;
  color: $color__purple-brand;
  font-size: 27px;
  p {
    font-family: $font__main;
  }
}
