.four-product {
  display: flex;
  flex-direction: row;
  article {
    width: 25%;
  }
  .entry-header {
    .shop-img {
      overflow: hidden;
      height: 200px;
      border: 1px solid #e1e1e1;
      border-bottom-width: 6px;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      img {
        height: 100%;
        max-width: 100%;
      }
    }
    border: 1px solid #e1e1e1;

    margin: 0 1rem;
    text-align: center;
  }
}
